//npm.pkg.github.com/:_authToken=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

@bh-ent-tech:registry=https://npm.pkg.github.com/

@bh-digitalsolutions:registry=https://npm.pkg.github.com/

@baker-hughes-central-design:registry=https://npm.pkg.github.com/
