/* 
 *  *************************************************
 *   BH [Highly] Confidential
 *   [Unpublished] Copyright 2020.  Baker Hughes
 *  
 *   NOTICE:  All information contained herein is, and remains the property of Baker Hughes, and/or
 *   its affiliates.  The intellectual and technical concepts contained herein are proprietary to Baker Hughes
 *   and/or its affiliates and may be covered by patents, copyrights, and/or trade secrets.  Dissemination of this information or
 *   reproduction of this material is strictly forbidden unless prior written permission is obtained from Baker Hughes.
 *  **************************************************
 *  
 */

 @import url(../node_modules/@baker-hughes-central-design/ui-toolkit/dist/bh-ui-toolkit/bh-ui-toolkit.css);
 @import url(../node_modules/@baker-hughes-central-design/ui-toolkit/dist/collection/components/bh-avatar/bh-avatar.css);
 @font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff') format('woff')
       url('./assets/fonts/Poppins-Italic.otf') format('otf'),
       url('./assets/fonts/poppins-light-webfont.woff') format('woff')
       url('./assets/fonts/Poppins-Regular.woff') format('woff'),
       url('./assets/fonts/Poppins-SemiBold.woff') format('woff')
}
@font-face {
  font-family: 'Poppins Regular';
  src:url('./assets/fonts/Poppins-Regular.woff') format('woff')
      url('./assets/fonts/Poppins-Regular.otf') format('otf'),
      url('./assets/fonts/Poppins-Regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Noto Sans Semibold';
  src: url(./assets/fonts/noto-sans/NotoSans-SemiBold.ttf);
}
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2') format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('./assets/fonts/noto-sans/o-0IIpQlx3QUlC5A4PNr5TRA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./assets/fonts/material-icons-outlined/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2') format('woff2');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings:'liga';
  -webkit-font-smoothing: antialiased;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('./assets/fonts/material-ui-icon/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -ms-font-feature-settings:'liga';
  font-feature-settings:'liga';
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing:antialiased;
}


html{
  height: 100%;
}

body{ 
  margin:0;
  padding:0;
  overflow:auto;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
body.loggedin
{
  overflow:hidden;
  background-color: var(--color-fill-common-secondary);
}
.wrapper {
  width: 100%;
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.logo-100 {
  margin-left: 211px;
  vertical-align: middle;
}

ul a.inline {
  display: inline-flex !important;
  flex-direction: row;
  width: 50%;
  height: 50%
}

.form-bg {
  width: 360px;
  border-radius: 2px;
  position: absolute;
  margin-left: 50%;
  left: -180px;
  margin-top: -180px;
  top: 50%;
  font-family: "Poppins", sans-serif;
  color: #84A7B3;
}
.page-title {
  height: 31px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 34px;
}
.form-content {
  margin-top: 60px;
}
.form-content input {
  height: 30px;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent !important;
  border: 0px solid;
  width: 100%;
  display: block;
  border-bottom: 1px solid #84A7B3;
  color: #fff;
}
.form-content input:focus {
  outline: none;
}
.form-content div {
  padding: 16px;
}
.form-content .password {
  margin-top: 10px;
}

.sign-in {
  height: 36px;
  width: 120px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 26px;
  margin-left: 210px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #397FE2;
}
.sign-in:hover {
  border: 2px solid #fff;
}
.sign-in:disabled {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  cursor: default;
}
.form-content .message {
  display: none;
  text-align: center;
  color: red;
  padding-top: 0;
}
.brand-logo {
  margin-left: 60px;
  position: absolute;
}
.form-content .username-caption {
  position: absolute;
  top: 147px;
  padding: 0;
  font-size: 18px;
  pointer-events: none;

  transform-origin: bottom left;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition-property: color,bottom,transform;
  width: 100%;
}
.form-content .username input:focus + .username-caption {
  transform: scale(.75) translateY(-39px);
}
.form-content .username input:not(:placeholder-shown) + .username-caption {
  transform: scale(.75) translateY(-39px);
}
.form-content .password-caption {
  position: absolute;
  top: 222px;
  padding: 0;
  font-size: 18px;
  pointer-events: none;

  transform-origin: bottom left;
  transition: all .3s cubic-bezier(0.4,0,0.2,1);
  transition-property: color,bottom,transform;
  width: 100%;
}
.form-content .password input:focus + .password-caption {
  transform: scale(.75) translateY(-39px);
}
.form-content .password input:not(:placeholder-shown) + .password-caption {
  transform: scale(.75) translateY(-39px);
}
.footer {
  position: absolute;
  width: 360px;
  color: #A1A1A1;
  line-height: 14px;
  height: 15px;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 16px;
}
.footer span {
  margin-right: 4px;
}
.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #113544;
}
.icongreen{
  background-color:#02A783
}
.iconred{
  background-color: #E12D39
}
.iconviolet{
  background: #2CB1BC
}
.iconyellow{
  background: #F0B429
}
.icon{
  font-size: 20;
  border-radius: 50%;
  padding: 8px;
  color:#fff
}
@media only screen and (max-width: 375px)
{
    .bh-spinner-circle.bh-spinner-size--xlarge::after {
        width: 42px;
        height: 42px;
        border-width: 5px;
        margin-left: 15%;
    }
}
.main-app #errorContainer {
  margin-top: 37vh !important;
}
/*.form-bg {*/
  /*width: 360px,*/
  /*border-radius: 2px,*/
  /*position: absolute,*/
  /*margin-left: 50%,*/
  /*left: -180px,*/
  /*margin-top: -180px,*/
  /*top: "50%",*/
  /*font-family: "GE Inspira Sans",*/
  /*color: "#84A7B3",*/
/*}*/
/*.page-title {*/
  /*height: "31px";*/
  /*font-size: "30px";*/
  /*line-height: "30px";*/
  /*text-align: "center";*/
  /*margin-top: "34px";*/
/*}*/
/*.form-content {*/
  /*margin-top: "60px";*/
/*}*/
/*.form-content input {*/
  /*height: "30px",*/
  /*font-size: "16px",*/
  /*line-height: "18px",*/
  /*background-color: "transparent !important",*/
  /*border: 0px solid,*/
  /*width: "100%",*/
  /*display: block,*/
  /*border-bottom: 1px solid #84A7B3,*/
  /*color: "#fff"*/
/*}*/
/*.form-content input:focus {*/
  /*outline: none*/
/*}*/
/*.form-content div {*/
  /*padding: "16px"*/
/*}*/
/*.form-content .password {*/
  /*margin-top: "10px"*/
/*}*/

/*.sign-in {*/
  /*height: "36px",*/
  /*width: "120px",*/
  /*color: "#FFFFFF",*/
  /*font-size: "14px",*/
  /*line-height: "16px",*/
  /*text-align: "center",*/
  /*background: none,*/
  /*border: none,*/
  /*outline: none,*/
  /*cursor: "pointer",*/
  /*margin-top: "26px",*/
  /*margin-left: "210px",*/
  /*margin-bottom: "10px",*/
  /*border-radius: "2px",*/
  /*background-color: "#397FE2",*/
/*}*/
/*.sign-in:hover {*/
  /*border: "2px solid #fff",*/
/*}*/
/*.sign-in:disabled {*/
  /*background-color: "#d8d8d8",*/
  /*border-color: "#d8d8d8",*/
  /*cursor: default*/
/*}*/
/*.form-content .message {*/
  /*display: none,*/
  /*text-align: "center",*/
  /*color: red,*/
  /*padding-top: 0*/
/*}*/
/*.brand-logo {*/
  /*margin-left: "60px",*/
  /*position: "absolute"*/
/*}*/
/*.form-content .username-caption {*/
  /*position: "absolute",*/
  /*top: 147,*/
  /*padding: 0,*/
  /*font-size: 18,*/
  /*pointer-events: "none",*/

  /*transform-origin: "bottom left",*/
  /*transition: "all .3s cubic-bezier(0.4,0,0.2,1)",*/
  /*transition-property: "color,bottom,transform",*/
  /*width: "100%"*/
/*}*/
/*.form-content .username input:focus + .username-caption {*/
  /*transform: scale(.75) translateY(-39),*/
/*}*/
/*.form-content .username input:not(:placeholder-shown) + .username-caption {*/
  /*transform: scale(.75) translateY(-39),*/
/*}*/
/*.form-content .password-caption {*/
  /*position: "absolute",*/
  /*top: 222,*/
  /*padding: 0,*/
  /*font-size: 18,*/
  /*pointer-events: none,*/

  /*transform-origin: bottom left,*/
  /*transition: all .3s cubic-bezier(0.4,0,0.2,1),*/
  /*transition-property: color,bottom,transform,*/
  /*width: "100%"*/
/*}*/
/*.form-content .password input:focus + .password-caption {*/
  /*transform: scale(.75) translateY(-39),*/
/*}*/
/*.form-content .password input:not(:placeholder-shown) + .password-caption {*/
  /*transform: scale(.75) translateY(-39),*/
/*}*/
/*.footer {*/
  /*position: absolute,*/
  /*width: 360,*/
  /*color: "#A1A1A1",*/
  /*line-height: 14,*/
  /*height: 15,*/
  /*font-size: 12,*/
  /*margin-top: 12,*/
  /*margin-left: 16*/
/*}*/
/*.footer span {*/
  /*margin-right: "4px"*/
/*}*/
/*.background {*/
  /*position: "absolute",*/
  /*left: 0,*/
  /*right: 0,*/
  /*top: 0,*/
  /*bottom: 0,*/
  /*background-color: "#113544"*/
/*}*/
