#root {
  position: fixed;
  width: 100%;
}
/* css for bottom bar & Toastmessage :End */
.MuiListItemText-root {
  flex: 1 1 auto;
  min-width: 0;
  width: 72px;
  margin-top: 4px !important;
  margin-bottom: 0px !important;
}
.MuiListItemText-root span {
  font-size: 12px !important;
  color: #FFFFFF !important;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.25px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
#horizontalAppsListItem .MuiListItem-root.Mui-selected{
  background: none;
}
.MuiListItem-button.active .MuiListItemText-root span {
  font-family: 'Noto Sans Semibold', sans-serif;
}
.MuiListItem-button.active .MuiListItemIcon-root{
  background-color: #147D64  !important;
  cursor: default;
  pointer-events: none;
}
#horizontalAppsListItem .MuiListItemIcon-root {
  color: #FFFFFF !important;
  min-width: 36px !important;
  height: 36px;
  background: transparent;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#horizontalAppsListItem .MuiListItem-button:hover .MuiListItemIcon-root{
  background-color: #014D40;
}
#horizontalAppsListItem .MuiListItem-button:enabled .MuiListItemIcon-root{
  background-color: #05322B;
}
#horizontalAppsListItem .MuiListItem-button:active .MuiListItemIcon-root{
  background-color: #147D64;
}
#horizontalAppsListItem .MuiTouchRipple-root{
  display: none;
}
#horizontalHeadAppChildToolbar{
  display: flex;
  justify-content: space-between;
}

#horizontalHeadAppChildToolbar .header-section{
  display: flex;
  height: 100%;
  align-items: center;
}
#horizontalHeadAppChildToolbar .product-title{
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: 'Poppins';
  margin: 0 20px;
}
#horizontalHeadAppChildToolbar .logo-menu-divider{
  height: 42px;
  width: 1px;
  margin: 0 12px;
  background-color: #CED7D4;
}

.MuiListItem-button.active .MuiListItemIcon-root {
  color: #ffffff !important;
}
#horizontalHeadAppChildToolbar .action-item{
  display: flex;
  height: 100%;
  align-items: center;
}
#header-icon a{
  color: #ffffff !important;
  height: 24px;
  width: 24px;
}
#header-icon .menu-icon:enabled{
  background: #05322B;
	border-radius: 30px;
}
#header-icon .menu-icon:hover{
  background: #014D40;
	border-radius: 30px;
}
#header-icon .menu-icon:active{
  background: #147D64;
	border-radius: 30px;
}
.MuiTooltip-tooltip{
  background-color: black;
  margin-top: 10px;
  font-family: 'Noto Sans Semibold', sans-serif;
  font-size: 12px;
}
span.MuiBadge-root.badgeContentIcon {
  vertical-align: baseline !important;
}
span.MuiBadge-root.badgeContentIcon span.MuiBadge-badge.MuiBadge-anchorOriginTopRightRectangle.MuiBadge-colorSecondary {
  background-color: #147d64!important;
}
/* Notification CSS start */
.badgeContent{
  position: relative;
  padding: 25px 15px 12px 10px !important;
  left: 25px;
}
.badgeContent > span{
  width: 24px!important;
  height: 24px!important;
  right: -14px!important;
  top: -18px!important;
  background: #147d64!important;
  color: #fff!important;
  cursor: pointer;
  font-family: Noto Sans,sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 18px;
  z-index: 1;
}
.notificationIcon{
  position: relative;
  color: #fff;
  width: 30px !important;
  height: 30px !important;
}
.noNotification{
  top: -5px;
  left: -4px;
}
.newNotification{
  bottom:10px;
}
.notiIcon{
  position: relative;
  float: right;
  right: 150px;
  bottom: -15px;
  left: -135px;
}
/* Notification CSS ends */
.MuiInput-root svg{
  color: white !important;
}
.Mui-selected.Mui-selected {
  color: black;
  /* background-color: #bbbbbb; */
}
.MuiMenuItem-root.MuiMenuItem-root:hover {
  color: black;
  background-color: #ebebeb;
}

.feature_container{
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
.bh-spinner-circle.bh-spinner-size--xlarge::after {
  width: 84px;
  height: 84px;
}
@media only screen and (max-width: 375px)
{
  .bh-spinner-circle.bh-spinner-size--xlarge::after {
      width: 52px;
      height: 52px;
      border-width: 5px;
      margin-left: 15%;
  }
}
.main-app .bh-spinner-circle.bh-spinner-size--xlarge {
  margin-top: -11.5vh
}
.MuiTooltip-tooltip {
  background-color: var(--color-fill-common-overlay);
  color: var(--color-text-common-inverse-primary);
  opacity: 0;
  padding: 8px 12px !important;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  transition: opacity;
  transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  transition-duration: cubic-bezier(0.42,0,0.58,1); 
 }

.license-tooltip-container{
  display: flex;
  flex-direction: column;
}
.license-tooltip-appname{
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
.license-tooltip-message{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}

#horizontalAppsListItem .MuiListItem-root.Mui-disabled {
    opacity: 0.5;
    cursor: default;
}