#dialogPopup{
    background-color: var(--color-fill-common-overlay);
    opacity: 0.9 !important
}
#dialogPopup .MuiDialog-paperWidthSm {
    max-width: 368px!important;
    width: 360px;
    /* background-color: var(--color-fill-common-secondary); */
    box-shadow: var(--effect-drop-shadow-elevation-low);
    border-radius: var(--effect-border-radius-medium);
    overflow: hidden;
    position: fixed;
    z-index: 3001;
    left: calc(50vw - 180px);
    background-color: var(--color-fill-common-secondary);
    padding: var(--spacing-padding-medium) 0;
    min-height: 100px;
    top: calc(50vh - 83px);
}
#dialogPopup .MuiDialogTitle-root{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacing-padding-xxsmall) !important;
    padding-right: var(--spacing-padding-medium) !important;
    padding-left: var(--spacing-padding-medium) !important;
    padding-top: 0 !important;
}
#dialogPopup .MuiTypography-h6{
    height: 28px;
    left: 20px;
    top: 20px;
    font-style: normal;
    color: var(--color-text-common-primary);
    mix-blend-mode: normal;
    font-family: var(--font-family-subtitle-medium) !important;
    font-size: var(--font-size-subtitle-medium) !important;
    font-weight: var(--font-weight-subtitle-medium) !important;
    line-height: var(--font-line-height-subtitle-medium) !important;
    letter-spacing: var(--font-letter-spacing-subtitle-medium) !important;
}
#dialogPopup .MuiDialogContent-root{
    overflow-y: auto;
    margin-bottom: var(--spacing-margin-large) !important;
    padding-right: var(--spacing-padding-medium) !important;
    padding-left: var(--spacing-padding-medium) !important;
    padding-top:0px !important;
    padding-bottom: 0px !important;
    color: var(--color-text-common-secondary) !important;
    min-height: 32px;
    max-height: 240px;
    display: block;
}
#dialogPopup .MuiDialogContent-root p{
    color: var(--color-text-common-primary) !important;
    font-family: var(--font-family-body-small) !important;
    font-size: var(--font-size-body-small) !important;
    font-weight: var(--font-weight-body-small) !important;
    line-height: var(--font-line-height-body-small) !important;
    letter-spacing: var(--font-letter-spacing-body-small) !important;
}
#dialogPopup .MuiDialogActions-root{
    padding: 0px var(--spacing-padding-medium) 0px var(--spacing-padding-medium) !important;
}
#dialogPopup .MuiDialogActions-root .MuiButton-root{
padding: 9px 20px;
height: 36px;
background: var(--color-fill-cta-primary-default) !important;
border-radius: 4px;
}
#dialogPopup .MuiButton-root:hover{
    background-color: var(--color-fill-cta-primary-hover) !important;
    border-color: var(--color-border-cta-primary-hover) !important;
}
#dialogPopup .MuiDialog-paper{
    margin: 0px !important;
}
#dialogPopup .MuiDialogActions-root .MuiButton-label{
font-family: Poppins, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
align-items: center;
text-align: center;
color:var(--color-text-common-inverse-primary);
letter-spacing: 0.1px;
text-transform: uppercase;
}
#dialogPopup .MuiDialogContentText-root{
    margin-bottom: 0px !important;
}