.MuiSnackbar-root{
position: absolute;
width: 500px !important;
min-height: 68px !important;
display: inline-block !important;
color: #1A2321  !important;
background-color: #fff;
box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.07), 0px 5px 44px rgba(0, 0, 0, 0.06), 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}
.MuiSnackbarContent-root{
    min-height: 68px !important;
    background: #FFFFFF  !important;
    transition: none !important;
}
.snackBody{
    position: absolute;
    width: 384px;
    height: 21px;
    left: 68px;
    top: 33px;
    font-family: "Noto Sans","Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
}
@media (min-width: 600px){
.MuiSnackbar-anchorOriginTopRight {
    top: 75px !important;
    left: auto;
    right: 10px !important;
  }
}