.errorWrapper{
    min-height: 155px;
}
.errorWrapper > img{
    width: 50%;
    display: block;
    margin:70px auto 0px auto;
}

.errMsg{
    text-align: center;
    color: var(--color-text-common-secondary);
    background-color: var(--color-fill-common-secondary);
}
    
.Nothingnew{
    margin-bottom: 110px; 
}

.apiError{
    padding-bottom: 50px;
}
