@import url(../../../node_modules/@baker-hughes-central-design/ui-toolkit/dist/bh-ui-toolkit/bh-ui-toolkit.css);
:root{
  --custom-radius: 0px;
  --search-input-left-padding: 10px;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('../../assets/fonts/material-ui-icon/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
  }
.global-search-container{
  display: flex;
  width: fit-content;
  border-radius: 100px;
  position: relative;
  right: 0;
  opacity: var(--input-opacity);
}
.gs_search input{
  width:  var(--input-inactive-width) !important;
  /* height: var(--dynamic-height) !important; */
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-fill-common-secondary);
  color: var(--color-text-common-primary);
  border-color: transparent;
  padding-left: var(--search-input-left-padding) !important;
  padding-right: 44px !important;
}
.gs_search_s1 input{
  width:  var(--input-inactive-width) !important;
  /* height: var(--dynamic-height) !important; */
  font-size: 14px;
  font-weight: 400;
  background-color: var(--input-inactive-bg-color);
  color: var(--input-inactive-text-color);
  border-color: transparent;
  padding-left: var(--search-input-left-padding) !important;
  padding-right: 36px !important;
}
.gs_search_s1 input:not(:focus):hover{
  border-color: transparent;
}
.gs_search_s1 i{
  color: var(--input-inactive-icon-color);
}
.gs_search_s1:focus-within i {
  color: var(--input-active-icon-color);
}
.gs_search input:focus{
  width:  var(--input-active-width) !important;
  background-color: var(--color-fill-common-secondary);
  color: var(--color-text-common-primary);
}
.gs_search_s1 input:focus{
  width:  var(--input-active-width) !important;
  background-color: var(--input-active-bg-color);
  color: var(--input-active-text-color);
}
.global-search-container .dropdown{
  width: var(--dropdown-width);
}
.global-search-container .bh-dropdown__value{
  color: black;
  padding-left: 18px;
  font-weight: 600;
  font-size: 12px;
}
.global-search-container .dropdown input{
    height: 44px;
    border-radius: 100px 0 0 100px;
    background-color: #EBEFEE;
    border-right: 1px solid #B8B8B8;
}
.global-search-container i{
    font-family: 'Material Icons', sans-serif !important;
} 
.bh-text-input__input.rounded {
    border-radius: 100px !important;
    border-top-left-radius: var(--custom-radius) !important;
    border-bottom-left-radius: var(--custom-radius) !important;
}

.gs_search_s1 input::-webkit-input-placeholder {
  color:var(--input-inactive-text-color) !important;
}
.gs_search_s1 input::-moz-placeholder {
  color:var(--input-inactive-text-color) !important;
}
.gs_search_s1 input::-ms-placeholder {
  color:var(--input-inactive-text-color) !important;
}
.gs_search_s1 input::placeholder {
  color:var(--input-inactive-text-color) !important;
}

.gs_search_s1 input:focus::-webkit-input-placeholder {
  color:var(--input-active-text-color) !important;
}
.gs_search_s1 input:focus::-moz-placeholder {
  color:var(--input-active-text-color) !important;
}
.gs_search_s1 input:focus::-ms-placeholder {
  color:var(--input-active-text-color) !important;
}
.gs_search_s1 input:focus::placeholder {
  color:var(--input-active-text-color) !important;
}

.gs_search input::-webkit-input-placeholder {
  color:var(--color-text-common-primary) !important;
}
.gs_search input::-moz-placeholder {
  color:var(--color-text-common-primary) !important;
}
.gs_search input::-ms-placeholder {
  color:var(--color-text-common-primary) !important;
}
.gs_search input::placeholder {
  color:var(--color-text-common-primary) !important;
}